@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


.bgImage {
  background-image: linear-gradient(rgba(49, 50, 55, 0.5), rgba(39, 40, 45, 0.5)), url('/hero4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(rgba(49, 50, 55, 0.5), rgba(39, 40, 45, 0.5)), url('/hero5.jpg');
    /* background-image: linear-gradient(rgba(71, 73, 81, 0.6), rgba(71, 73, 81, 0.6)), url('/hero5.jpg'); */
  }
}


.container {
  max-width: 100vw;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 80px;
    padding-right: 80px;
  }
  @media screen and (min-width: 1440px) {
    width: 1440px;
    padding-left: 120px;
    padding-right: 120px;
  }


}
.hidden__item {
  display: none;
  @media screen and (min-width: 1280px ){
    display: block;
  }

}

.img {
  box-shadow: 0px 1px 3px 0px rgba(68, 17, 17, 0.2),
    0px 1px 1px 0px rgba(90, 35, 35, 0.14), 0px 2px 1px -1 rgba(62, 29, 29, 0.12);
}

.animate {
  animation: spin 3s linear infinite;
}



.titleLeft {
  animation: titleLeft 2s ease-in-out 0.1s forwards;
}
.linkRight {
  animation: linkRight 2s ease-in-out 0.3s forwards;
}
.linkLeft {
  animation: linkLeft 2s ease-in-out 0.3s forwards;
}

@keyframes spin {
  0% {
    transform: scale(1);
  
  }
  50% {
    transform: scale(1.3);
   
  }
  100% {
    transform: scale(1);
  }
}

@keyframes titleLeft {
  0% {
    /* transform: translateX(-30%); */
    scale: 0.5;
   opacity: 0;
  }
  100% {
    /* transform: translateX(0); */
    scale: 1;
   opacity: 1;
  }
}
@keyframes linkRight {
  0% {
    transform: translateX(100%);
    
  }
  100% {
    transform: translateX(0);
    
  }
}

@keyframes linkLeft {
  0% {
    transform: translateX(-100%);
   
  }
  100% {
    transform: translateX(0);
    
  }
}

