@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.bgImage {
  background-image: linear-gradient(rgba(49, 50, 55, 0.5), rgba(39, 40, 45, 0.5)), url('/hero4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(rgba(71, 73, 81, 0.6), rgba(71, 73, 81, 0.6)), url('/hero5.jpg');
  }


}


.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px ){
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    /* padding-left: 80px;
  padding-right: 80px; */
  }


}
.dd {
  color:#dbd6e1;
}

.img {
  box-shadow: 0px 1px 3px 0px rgba(68, 17, 17, 0.2),
    0px 1px 1px 0px rgba(90, 35, 35, 0.14), 0px 2px 1px -1 rgba(62, 29, 29, 0.12);
}

