.swiper-wrapper {
 padding-left: 20px; 
 @media screen and (min-width: 480px) {
  padding-left: 5px;
}
@media screen and (min-width: 768px) {
  padding-left: 15px;
}
@media screen and (min-width: 1100px) {
  padding-left: 20px;
}


}
 


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide {
 opacity: 0.7;
}

.mySwiper .swiper-slide-thumb-active {
  opacity:  1;
 }

.swiper-button-next::after {
    color: transparent;
  }
  
  .swiper-button-prev::after {
    color: transparent;
  }

  .current__slider {
    opacity: 1;
  }
  
  .slider  {
    opacity: 0.7;
  }
  
